* {
  background-color: #EAFDF8;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: monospace;
  margin: 0 auto;
}

form {
  padding-top: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

input {
  line-height: 2;
  font-family: monospace;
  font-size: 1.5em;
  background-color: white;
}

h1 {
  color:#035E7B;
  font-size: 4rem;
  margin: 0 auto;
}

p {
font-size: 2em;
}

button {
 background-color: #897C80;
 color: white;
 font-size: 1.5em;
}